@media only screen and (max-width: 1400px) {
    .header-text {
        font-size: 8rem;
    }
}

@media only screen and (max-width: 1200px){
    .header-text {
        font-size: 6.5rem;
    }
}

@media only screen and (max-width:1000px){
    .header-text{
        margin-bottom: 15%;
    }
}

@media only screen and (max-width:700px){
    .header-text{
        font-size: 5rem;
        margin-bottom: 20%;
    }
}

@media only screen and (max-width:500px){
    .header-text{
        font-size:4rem;
        margin-bottom: 25%;
    }
}