.btn {
    &:link,
    &:visited {
        float: right;
        // margin-right: 20%;
        margin-top: 3.5rem;
        text-decoration: none;
        padding: 15px 40px;
        border-radius: 100px;
        transition: all .4s;
        position: relative;
        font-size: 2rem;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(black,.2);

        &::after {
            transform: scaleX(1.4) scaleY(1.5);
            opacity: 0;
        }
    }

    &:active {
        transform: translateY(3px);
        box-shadow: 0 5px 10px rgba(black,.4);
    }

    &--red {
        background-color: $color-primary-red;
        color: white;

        &::after {
            background-color: $color-primary-red;
        }
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
}