.social-links {
    background-color: $color-primary-red;
    @include clearfix;
    
    &__social-media {
        float: right;
        list-style: none;
        
        & li {
            display: inline-block;
            margin-right: 3rem;
            margin-top: 0.6rem;

            &:last-child{
                margin-right: 5rem;
            }


            & a:link,
            & a:visited {
                text-decoration: none;
                font-size: 2.5rem;
                transition: all 0.2s;
                color: $color-grey-dark;
            }

            & a:hover,
            & a:active {
                color: white;
            }
        }

    }
}

.menu {
    background-image: linear-gradient($color-primary-red-dark,$color-primary-red);
    letter-spacing: 0.3rem;
    font-weight: 400;
    height: 7rem;
    position: relative;
    text-align: center;
    & .logo-box {
        position: absolute;
        margin-top: -35px;
        margin-left: 2%;
        &__logo {
            width: 15rem;
            border-radius: 10rem;
            border: black ;
        }
    }

    & .nav-box {
        display: inline-block;
        width: 50%;
        margin: 0 auto;
        & .main-nav {
            list-style: none;
            
    
            & li{
                display: inline-block;
                margin-top: 1.9rem;
                margin-right: 10%;
    
                & a:link,
                & a:visited {
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 2rem;
                    color: white;
                    padding-bottom: 8px;
                    transition: border-bottom 0.1s;
                }

                & a:hover,
                & a:active {
                    border-bottom: 3px solid white;
                }
            }

            & li:last-child{
                margin-right: 0;
            }
            & li:first-child a {
                border-bottom: 3px solid white;
            }
        }
    }
}

.teams-menu {
    font-weight: 300;
    background-color: $color-grey-dark;
    font-size: 1.9rem;
    height: 5rem;
    letter-spacing: 0.1rem;

    & .teams-box {
        text-align: center;

        &__list {
            list-style: none;
            // padding-top: .8rem;
            
            & li{
                display: inline-block;
                margin-right: 9rem;

                & .dropdown{
                    position: relative;
                    display: inline-block;

                    & a:link,
                    & a:visited {
                        display: block;
                        padding-top: 0.8rem;
                        padding-right: 0.2rem;
                        padding-left: 0.2rem;
                        height: 5rem;
                        color: white;
                        text-decoration: none;
                        padding-bottom: 0.4rem;
                        transition: all 0.1;
                    }

                    & a:hover,
                    & a:active {
                        background-color: $color-grey-light;
                    }

                    .dropdown-content {
                        display: none;
                        position: absolute;
                        background-color: $color-primary-red;
                        min-width: 160px;
                        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                        z-index: 1;

                        & a{
                            color: white;
                            text-decoration: none;
                            display: block;

                            &:hover {
                                background-color: $color-primary-red-dark;
                            }
                        }
                    }

                    &:hover {
                        & .dropdown-content{display: block;}
                        & .main-link {background-color: $color-grey-light;}
                    }

                }
                
            }
            & li:last-child{
                margin-right: 0;
            }
        }
    } 
}

.sticky {
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;

    & .social-links {
        display: none;
    }

    & .logo-box__logo {
        width: 11rem;
        margin-top: 3.9rem;
    }
}

