*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  position: relative; }

.row {
  max-width: 150rem;
  margin: auto; }

.bar {
  width: 100%; }

body {
  font-family: "Lato", 'Arial' ,sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7;
  color: black;
  text-rendering: optimizeLegibility;
  overflow-x: hidden; }

.social-links {
  background-color: #c62828; }
  .social-links::after {
    content: "";
    display: table;
    clear: both; }
  .social-links__social-media {
    float: right;
    list-style: none; }
    .social-links__social-media li {
      display: inline-block;
      margin-right: 3rem;
      margin-top: 0.6rem; }
      .social-links__social-media li:last-child {
        margin-right: 5rem; }
      .social-links__social-media li a:link,
      .social-links__social-media li a:visited {
        text-decoration: none;
        font-size: 2.5rem;
        transition: all 0.2s;
        color: #2d3436; }
      .social-links__social-media li a:hover,
      .social-links__social-media li a:active {
        color: white; }

.menu {
  background-image: linear-gradient(#811313, #c62828);
  height: 7rem; }
  .menu::after {
    content: "";
    display: table;
    clear: both; }
  .menu .logo-box {
    width: 15%;
    float: left;
    position: relative;
    margin-top: -70px;
    margin-left: 2%; }
    .menu .logo-box__logo {
      width: 18rem;
      border-radius: 10rem;
      border: black; }
  .menu .nav-box {
    letter-spacing: 0.3rem;
    float: left;
    width: 80%;
    text-align: center; }
    .menu .nav-box .main-nav {
      list-style: none; }
      .menu .nav-box .main-nav li {
        display: inline-block;
        margin-top: 1.9rem;
        margin-right: 10%; }
        .menu .nav-box .main-nav li a:link,
        .menu .nav-box .main-nav li a:visited {
          text-decoration: none;
          text-transform: uppercase;
          font-size: 2rem;
          color: white;
          padding-bottom: 8px;
          transition: border-bottom 0.1s; }
        .menu .nav-box .main-nav li a:hover,
        .menu .nav-box .main-nav li a:active {
          border-bottom: 3px solid white; }

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999; }
  .sticky .logo-box__logo {
    width: 14rem;
    margin-top: 4.5rem; }

header {
  margin-top: 7rem;
  margin-bottom: -1rem;
  background-color: black; }
  header img {
    width: 100%;
    opacity: 0.7; }

.player {
  background-image: linear-gradient(#636363, #811313);
  height: 55rem;
  padding-top: 3rem; }
  .player:first-child {
    margin-top: -1rem; }
  .player .player-content {
    width: 125rem;
    margin: 0 auto;
    height: 100%; }
    .player .player-content::after {
      content: "";
      display: table;
      clear: both; }
    .player .player-content .photo {
      float: left;
      height: 100%;
      width: 45%; }
      .player .player-content .photo img {
        height: 100%; }
    .player .player-content .description {
      float: right;
      height: 100%;
      width: 55%; }
      .player .player-content .description .name h1 {
        font-size: 5.5rem;
        letter-spacing: 0.6rem;
        display: inline-block;
        color: white;
        margin-right: 5rem;
        text-shadow: 3px 3px 8px black; }
      .player .player-content .description .name h2 {
        font-size: 8rem;
        color: white;
        display: inline-block;
        text-shadow: 3px 3px 8px black; }
      .player .player-content .description .details h4 {
        font-weight: 300;
        color: white;
        letter-spacing: 0.3rem;
        line-height: 2rem;
        text-shadow: 2px 2px 3px black; }
      .player .player-content .description .details h3 {
        color: white;
        text-shadow: 2px 2px 3px black; }

.coach {
  background-image: linear-gradient(#636363, #811313);
  height: 55rem;
  padding-top: 3rem; }
  .coach .player-content {
    width: 125rem;
    margin: 0 auto;
    height: 100%; }
    .coach .player-content::after {
      content: "";
      display: table;
      clear: both; }
    .coach .player-content .photo {
      float: left;
      height: 100%;
      width: 45%; }
      .coach .player-content .photo img {
        height: 100%; }
    .coach .player-content .description {
      float: right;
      height: 100%;
      width: 55%;
      padding-top: 5rem; }
      .coach .player-content .description .name {
        margin-top: 3rem; }
        .coach .player-content .description .name h1 {
          font-size: 5.5rem;
          letter-spacing: 0.6rem;
          color: white;
          text-shadow: 3px 3px 8px black;
          line-height: 6rem; }
        .coach .player-content .description .name h5 {
          font-size: 3rem;
          letter-spacing: 0.5rem;
          color: white;
          text-shadow: 3px 3px 8px black;
          font-weight: 300;
          line-height: 4rem; }
        .coach .player-content .description .name a:link,
        .coach .player-content .description .name a:visited {
          font-size: 4rem;
          margin-top: 3rem;
          color: white;
          text-shadow: 3px 3px 8px black;
          margin-right: 1rem;
          transition: all 0.4s; }
        .coach .player-content .description .name a:hover,
        .coach .player-content .description .name a:active {
          color: #929292; }
      .coach .player-content .description .details h4 {
        font-weight: 300;
        color: white;
        letter-spacing: 0.3rem;
        line-height: 2rem;
        text-shadow: 2px 2px 3px black; }
      .coach .player-content .description .details h3 {
        color: white;
        text-shadow: 2px 2px 3px black; }

.dropdown {
  position: fixed;
  right: 20rem;
  top: 15rem;
  display: inline-block; }
  .dropdown .dropbtn {
    background-color: #00000098;
    color: white;
    padding: 16px;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 5rem;
    width: 25rem;
    letter-spacing: 1rem;
    font-weight: 300; }
    .dropdown .dropbtn:hover, .dropdown .dropbtn:focus {
      background-color: #c62828; }
  .dropdown .dropdown-content {
    padding-top: 5.5rem;
    padding-bottom: 2rem;
    border-radius: 3rem;
    display: none;
    position: absolute;
    top: 0.1rem;
    background-color: #f1f1f1e3;
    min-width: 23rem;
    max-height: 30rem;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: -1; }
    .dropdown .dropdown-content a {
      color: black;
      font-size: 1.7rem;
      font-weight: 300;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      height: 4rem;
      transition: all 0.5s; }
    .dropdown .dropdown-content .header {
      padding: 8px 16px;
      border-bottom: 1px black solid; }
  .dropdown .show {
    display: block; }
  .dropdown a:hover {
    font-size: 105%; }
    .footer {
        height: 35rem;
        width: 100%;
        background-color: #811313;
        color: white;
        position: relative; }
        .footer::after {
          content: "";
          display: table;
          clear: both; }
        .footer .contact {
          float: left;
          margin-left: 25rem;
          padding-top: 5rem;
          font-size: 1.5rem; }
          .footer .contact p {
            margin-bottom: 2rem; }
          .footer .contact ion-icon {
            font-size: 4rem;
            color: white;
            margin-right: 2rem;
            margin-top: 1rem;
            transition: all 0.5s; }
            .footer .contact ion-icon:hover {
              color: grey; }
        .footer .creator {
          font-size: 1.5rem;
          position: absolute;
          right: 2rem;
          bottom: 2rem; }
          .footer .creator ion-icon {
            color: red; }
          .footer .creator a {
            font-size: 1rem;
            text-decoration: none;
            color: white;
            display: inline-block;
            padding: 0.5rem 2rem;
            background-color: red;
            border: 2px solid black;
            border-radius: 3rem;
            transition: all 0.5s; }
            .footer .creator a:hover {
              background-color: grey;
              color: black; }
        .footer .copyright {
          width: 50rem;
          text-align: center;
          margin: 0 auto;
          padding-top: 30rem; }

          .sponsors {
            background-color: white;
            height: 46rem; }
            .sponsors h1 {
              display: block;
              width: 21rem;
              font-size: 5rem;
              margin: 0 auto;
              margin-bottom: 4rem; }
            .sponsors .content {
              height: 100%; }
              .sponsors .content::after {
                content: "";
                display: table;
                clear: both; }
              .sponsors .content a {
                float: left;
                text-decoration: none;
                width: 20%; }
                .sponsors .content a img {
                  width: 100%; }
